:root {
  --main-color: white;
  --primary-green: rgb(2, 140, 106);
  --primary-lightgreen: rgb(151, 186, 164);
  --primary-yellow: rgb(235, 197, 124);
  --primary-blue: rgb(29, 106, 150);
  --text-lightgray: rgb(204, 204, 204);
  --text-dark: rgb(21, 32, 29);
  --logintext-color: var(--primary-green);
  --loginbutton-color: white;
  margin: 0;
  padding: 0;
}
